<p id="notice"><%= notice %></p>

<p>
  <strong>Cal puntuacion:</strong>
  <%= @calificacion.cal_puntuacion %>
</p>

<%= link_to 'Edit', edit_calificacion_path(@calificacion) %> |
<%= link_to 'Back', calificacions_path %>
