<h1>Comunas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>

  <tbody>
    <% @comunas.each do |comuna| %>
      <tr>
        <td><%= comuna.com_nombre %></td>
        <td><%= link_to '',edit_comuna_path(comuna),class: "glyphicon glyphicon-pencil"%></td>
        <td><%= link_to '',comuna, method: :delete, class: "glyphicon glyphicon-erase", data: { confirm: 'Eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Nueva Comuna", new_comuna_path, class: "btn btn-lg btn-primary" %>